@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input[type='checkbox'] {
  appearance: none;
  width: 50px;
  height: 50px;
  border: 1px solid #181818;
  border-radius: 5%;
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

input[type='checkbox']:hover {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(84deg, #864449, #291e77) 1;
}

input[type='checkbox']:checked {
  background-color: white;
}

input[type='checkbox']:checked::after {
  content: 'x';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #191b1e;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
