@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* track */
  --track-colour: #efe6eb;
  --track-width: 85vw;
  --track-height: 1.5em;

  /* thumb */
  --thumb-colour: rgb(237, 237, 20);
  --thumb-width: 1em;
  --thumb-height: 3em;

  /* people and events */
  --blue: #00ffff;
  --opaque-blue: #00ffff88;
  --opaque-tan: #fee2ab80;
}

/* to position the timeline in center of provided space */
#timeline-container {
  margin: 2.5em 0 1.5em;
  display: flex;
  justify-content: center;
}

/* the timeline input element itself */
#main-timeline {
  width: var(--track-width);
}

#event-container {
  margin-bottom: 3em;
  display: inline-block;
  /* justify-content: center; */
}

#events {
  display: flex;
  justify-content: space-between;
  width: var(--track-width);
  margin-top: 70px;
  /* padding: 4em 5px; */
}

.event {
  /* note: position is further calculated in Timeline.tsx */
  position: absolute;
  /* display: inline-block; */
  margin-left: 6.75vw;
  /* white-space: normal; */
  padding: 0.5em 1em;
  /* min-width: 2em; */
  transform: rotate(65deg);
  border-radius: 2em;
  transition: 0.25s;
  z-index: 1;
  /* background-color: aqua; */
}

.event:hover {
  z-index: 2;
  background-color: var(--opaque-blue);
}

.active-event {
  z-index: 2;
  font-weight: 900;
  background-color: var(--opaque-tan);
  transition: 0.5s;
  border-radius: 0.5em;
}

.person-container {
  margin: 0;
  padding: 0;
}

.person {
  /* note: position is further calculated in Timeline.tsx */
  position: absolute;
  margin-left: 7.5vw;
  font-variant: all-small-caps;
  min-height: 2.5em;
  vertical-align: bottom;
  background-color: var(--opaque-blue);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  /* margin-top: 0.5em; */
  padding: 0.5em 0.35em;
  text-align: center;
  z-index: 2;
  transition: 0.25s;
}

.person:hover {
  background-color: var(--blue);
  z-index: 3;
  padding: 0.5em 0.75em;
}

.active-person {
  background-color: var(--opaque-tan);
}

datalist {
  display: none;
  margin: -4em;
  padding: 0;
}

/*
what follows is from:

https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ 

...and updated to use the preset :root variables above 

*/

/* FIRST, MAKE DEFAULT ELEMENT INVISIBLE */

input[type='range'] {
  /* Hides the slider so that custom slider can be made */
  -webkit-appearance: none;
  z-index: 4;

  /* Specific width is required for Firefox. */
  width: var(--track-width);

  /* Otherwise white in Chrome */
  background: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 1;
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
  width: var(--track-width);
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* 'THUMB' (the bit the user drags) */

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: var(--thumb-height);
  width: var(--thumb-width);
  border-radius: 3px;
  background: var(--thumb-colour);
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: var(--thumb-height);
  width: var(--thumb-width);
  border-radius: 3px;
  background: var(--thumb-colour);
  cursor: pointer;
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: var(--thumb-height);
  width: var(--thumb-width);
  border-radius: 3px;
  background: var(--thumb-colour);
  cursor: pointer;
}

/* TRACK */

input[type='range']::-webkit-slider-runnable-track {
  /* width: 100%; */
  height: var(--track-height);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--track-colour);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--track-colour);
}

input[type='range']::-moz-range-track {
  /* width: 100%; */
  height: var(--track-height);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--track-colour);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']::-ms-track {
  /* width: 100%; */
  height: var(--track-height);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: var(--track-colour);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-lower {
  background: var(--track-colour);
}
input[type='range']::-ms-fill-upper {
  background: var(--track-colour);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-upper {
  background: var(--track-colour);
}
